* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.box {
    height: 100vh;
    background: red;
  }

@media all and (min-width: 480px) {
    .box {
      background: yellow;
    }
  }

@media all and (min-width:768px) {
    .box {
        background: green;
    }
}


