// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

$colorbody: #010101;
$font-size-body: 18px;
$font-family-body:arial, sans-serif;
$margin-wrapper: 0 60px;
$bcolor-hf: yellow;
$bcolor-main: cyan;
$height: 100px;


body {
    color: $colorbody;

    display: flex;
    font-size: $font-size-body;
    font-family: $font-family-body;

    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }
  .wrapper {
    margin: $margin-wrapper;
  }
  .header {
    background: $color-hf;
    height:$height;
    padding: 10px 0;
    box-sizing: border-box;
  }
  .main {
    background: $bcolor-main;
  }
  .main__title {
    color: #fff;
    font-size: 2.5em;
  }
  .main__content p {
    font-size: 1.1em;
    line-height: 140%;
  }
  .footer {
    background:$color-hf;
    height: $height;
    padding: 10px 0;
    box-sizing: border-box;
  }
  
  