* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.50%;
}


body {
    max-width: 100%;

}

.header {
    background-color: cyan;
    height: 5rem;
}

.div {
    max-width:100%;
    display: flex;
    justify-content: space-between;
    
}
.main {
    background-color:blueviolet;
    height: 15rem;
    max-width:100rem;
}

.aside1{
    background-color: purple;
    height: 15rem;
    min-width:25rem;
    
}

.aside2{
    background-color:red;
    height: 15rem;
    min-width:25rem;
    
}

.footer {
    background-color: blue;
    height: 5rem;
}

